@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

img{
    width: 100%;
    display: flex;
}

a{
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif; 
    background-color: #18181B;
}

body.dark-mode {
    background-color: #18181B;
    color: #fff; 
}

body.light-mode {
    background-color: #fff;
    color: #18181B; 
}

/* Add light mode styles for your existing elements */
body.light-mode nav a {
    color: #18181B;
}

body.light-mode .btn,
body.light-mode .toggle-btn,
body.light-mode .features .card {
    background-color: #1d4ed8;
    color: #fff;
}

body.light-mode .btn:hover,
body.light-mode .toggle-btn:hover,
body.light-mode .features .card:hover{
    background-color: #1e40af;
}


body.light-mode header .content h4,
body.light-mode header .content h1, 
body.light-mode section .header
{
    color: #080808; /* Change text color to white */
}

body.light-mode header .content h1 span{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #000000;
}

body.light-mode footer .column > a:hover{
    color: #003cff;
}

body.light-mode footer .column p,
body.light-mode .reviews .card h4, 
body.light-mode .reviews .card h3{
    color: #000000;
}

body.light-mode header .content p,
body.light-mode footer .column h4,
body.light-mode footer .column > a,
body.light-mode .sub-header {
    color:rgb(80, 87, 84);
}

body.light-mode footer .column .socials a{
    color:rgb(80, 87, 84);
    border: 1px solid rgb(80, 87, 84);
}

body.light-mode footer .column .socials a:hover{
    color: #fff;
    background-color: #1e4dcd;
    border-color: #f5f8ff;
}

body.light-mode .reviews .card , 
body.light-mode .review-text {
    background-color: #e5e7f0;
}

body.light-mode .reviews .card:hover{
    background-color: #2c59d379;
    border-color: #27272754;
}

body.light-mode .review-text{
    border: 1px solid rgb(0, 0, 0);
}

body.light-mode .reviews .card .text-container textarea::placeholder,
body.light-mode .review-text {
    color: #141414;
}

body.light-mode .blur{
    position: absolute;
    box-shadow: 0 0 10000px 75px rgb(0, 68, 255);
    z-index: -100;
}

/* Add light mode styles for other elements as needed */

/* Rest of your existing CSS code */

nav{
    max-width: 1200px;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.nav-logo{
    max-width: 100px;
}

.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-left: -20%;
}

.link a{
    position: relative;
    padding-bottom: 0.75rem;
    color: #fff;
}

.link a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #1d4ed8;
    transition: all 0.3s ease;
}

.link a:hover::after{
    width: 70%;
}

.toggle-mode-button {
    margin-right:-28%;
    border-radius: 20px;
    background-color: transparent;
}

.light-mode .toggle-mode-button{
    background-color: transparent;
}

.btn{
    padding: 1rem 2rem;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    background-color: #1d4ed8;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover{
    background-color: #1e40af;
}


.container{
    max-width: 1200px;
    margin: auto;
    padding: 5rem 2rem;
}


.blur{
    position: absolute;
    box-shadow: 0 0 1000px 50px #1d4ed8;
    z-index: -100;
}

header{
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

header .content h4{
    margin-bottom: 1rem;
    color: #ccc;
    font-size: 1rem;
    font-weight: 600;
}

header .content h1{
    color: #fff;
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
}

header .content h1 span{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #efeaea;
}

header .content p{
    margin-bottom: 2rem;
    color: #ccc;
}

header .image{
    position: relative;
}

header .image::before{
    content: "o";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 38rem;
    font-weight: 400;
    line-height: 20rem;
    color: #1d4ed8;
    opacity: 0.2;
    z-index: -100;
}

header .image img{
    max-width: 600px;
    margin: auto;
}

section .header{
    margin-bottom: 1rem;
    color: #fff;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 600;
}

.features{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.features .card{
    background-color: #27272a;
    padding: 1rem;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.features .card:hover{
    background-color: #323232;
    border-color: #fff;
}

.features .card span{
    display: inline-block;
    background-color: #1e40af;
    padding: 2px 9px;
    margin-bottom: 1rem;
    font-size: 1.75rem;
    color: #fff;
    border-radius: 5px;
}

.features .card h4{
    margin-bottom: 0.5rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
}

.features .card p{
    color: #ccc;
    margin-bottom: 1rem;
}

.features .card a{
    color: #fff;
    transition: all 0.3s ease;
}

.features .card a:hover{
    color: #1e40af;
}

.sub-header{
    max-width: 600px;
    margin: auto;
    text-align: center;
    color: #ccc;
}

.reviews{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.reviews .card{
    padding: 3rem 2rem;
    background-color: #27272a;
    display: flex;
    flex-direction: column;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;
}
    
.reviews .card:hover{
    background-color: #323232;
    border-color: #fff;
}

.reviews .card .content{
    flex: 1;
    margin-bottom: 2rem;
}

.reviews .card h4{
    margin-bottom: 1rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
}

.reviews .card h3{
    color: #fff;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 600;
}

.text-container {
    display: flex;
    position: relative;
    margin-top: -10px;
    height: 8rem;
    flex-wrap: nowrap;
    background-color: #272727;
    border-radius: 10px;
}

.review-text {
    flex: 1;
    width: 100%;
    padding: 1rem;
    margin: 0;
    background-color: #272727;
    border: 1px solid #fff; 
    border-radius: 8px; 
    color: #fff; 
    resize: none; 
}

.reviews .card .text-container textarea::placeholder {
    color: #ccc;
}

.review-by{
    position: relative;
    bottom: -4px;
    right: -7px;
}

.reviews .card p{
    color: #fff;
    margin-bottom: 0.75rem;
}

.reviews .card p i{
    color: #ccc;
    font-size: 1.2rem;
    margin-right: 0.3rem;
}

.reviews .card button{
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
}

.reviews .card button:hover{
    background-color: #1e40af;
    border-color: #1e40af;
}

footer{
    position: relative;
    display: grid;
    grid-template-columns: 400px repeat(3, 1fr);
    gap: 2rem;
}

footer .column .logo{
    max-width: 100px;
    margin-bottom: 2rem;
}

footer .column p{
    color: #ccc;
    margin-bottom: 2rem;
}


footer .column .socials{
    display: flex;
    align-items: center;
    gap: 1rem;
}

footer .column .socials a{
    color: #ccc;
    border: 1px solid #ccc;
    padding: 5px 10px;
    font-size: 1.25rem;
    border-radius: 100%;
    transition: all 0.3s ease;
}

footer .column .socials a:hover{
    color: #fff;
    background-color: #1d4ed8;
    border-color: #1d4ed8;
}

footer .column h4{
    color: #fff;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
}

footer .column > a{
    display: block;
    color: #ccc;
    margin-bottom: 1rem;
    transition: all 0.3s ease;
}

footer .column > a:hover{
    color: #1d4ed8;
}

.copyright{
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
    color: #fff;
    font-size: 0.8rem;
    text-align: center;
}

@media (width < 900px){
    .nav-links{
        display: none;
    }
    header{
        grid-template-columns: repeat(1, 1fr);
    }
    header .image{
        grid-area: 1/1/2/2;
    }
    .features{
        grid-template-columns: repeat(2, 1fr);
    }
    .reviews{
        grid-template-columns: repeat(2, 1fr);
    }
    footer{
        grid-template-columns: 1fr 200px;
    }
}

@media (width < 600px){
    header .image::before{
        display: none;
    }

    .features{
        grid-template-columns: repeat(1, 1fr);
    }

    .reviews{
        grid-template-columns: repeat(1, 1fr);
    }

    footer{
        grid-template-columns: 1fr 150px;
    }
}

div.stars {
    width: 95%;
    display: inline-block;
    text-align: center;
    padding-top: 5%;
}

input.star { display: none; }

label.star {
    float: right;
    padding: 3%;
    font-size: 120%; /* Adjusted font size */
    color: #444;
    transition: all .2s;
}

@media(width < 750px){
    label.star {
        font-size: 4vw;
    }
}

@media (width < 600px) {
    label.star {
        width: 20%;
        font-size: 8vw;
    }
}

input.star:checked ~ label.star:before {
    content: '\f005';
    color: #FD4;
    transition: all .25s;
}

input.star-5:checked ~ label.star:before {
    color: #FE7;
    text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before { color: #F62; }

label.star:hover { transform: rotate(0deg) scale(1.4); }

label.star:before {
    content: '\f006';
    font-family: FontAwesome;
}
